@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: rgb(48, 48, 48);
}
body::-webkit-scrollbar {
  display: none;
}
#everything {
  font-size: 40px;
  width: 100vw;
  height: 200vh;
  background-color: rgb(48, 48, 48);
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
}
